.mainArea .marquee {
    background: url('../images/marquee_body.png') no-repeat center;
    background-size: contain;
}
.mainArea .marquee_icon {
    background: url('../images/marquee_icon.png') no-repeat center;
    background-size: contain;
}
.mainArea .marquee_top {
    background: url('../images/marquee_top.png') no-repeat center;
    background-size: contain;
}
.mainArea .marquee_bottom {
    background: url('../images/marquee_bottom.png') no-repeat center;
    background-size: contain;
}
.mainArea {
    background: url('../images/mainArea_BG.png') no-repeat top center;
    background-size: contain;
}
.mainArea .bg_deco.img_1 i:nth-of-type(1) {
    background: url('../images/mainArea_decoImg_1_1.png') no-repeat center;
}
.mainArea .bg_deco.img_1 i:nth-of-type(2) {
    background: url('../images/mainArea_decoImg_1_2.png') no-repeat center;
}
.mainArea .bg_deco.img_1 i:nth-of-type(3) {
    background: url('../images/mainArea_decoImg_1_3.png') no-repeat center;
}
.mainArea .bg_deco.img_1 i:nth-of-type(4) {
    background: url('../images/mainArea_decoImg_1_4.png') no-repeat center;
}
.mainArea .bg_deco.img_2 {
    background: url('../images/mainArea_decoImg_2.png') no-repeat center;
}
.mainArea .bg_deco.img_3 i:nth-of-type(1) {
    background: url('../images/mainArea_decoImg_3_1.png') no-repeat center;
}
.mainArea .bg_deco.img_3 i:nth-of-type(2) {
    background: url('../images/mainArea_decoImg_3_2.png') no-repeat center;
}
.mainArea .bg_deco.img_3 i:nth-of-type(3) {
    background: url('../images/mainArea_decoImg_3_3.png') no-repeat center;
}
.mainArea .bg_deco.img_3 i:nth-of-type(4) {
    background: url('../images/mainArea_decoImg_3_4.png') no-repeat center;
}
.mainArea .gameBox .live_1 .gameBG,
.mainArea .swiper-middle .live_1 .gameBG {
    background: url('../images/gameBox/liveBG_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .live_2 .gameBG,
.mainArea .swiper-middle .live_2 .gameBG {
    background: url('../images/gameBox/liveBG_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .slot_1 .gameBG,
.mainArea .swiper-middle .slot_1 .gameBG {
    background: url('../images/gameBox/slotBG_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .slot_2 .gameBG,
.mainArea .swiper-middle .slot_2 .gameBG {
    background: url('../images/gameBox/slotBG_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .board_1 .gameBG,
.mainArea .swiper-middle .board_1 .gameBG {
    background: url('../images/gameBox/boardBG_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .lottery_1 .gameBG,
.mainArea .swiper-middle .lottery_1 .gameBG {
    background: url('../images/gameBox/lotteryBG_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .fish_1 .gameBG,
.mainArea .swiper-middle .fish_1 .gameBG {
    background: url('../images/gameBox/fishBG_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .sport_1 .gameBG,
.mainArea .swiper-middle .sport_1 .gameBG {
    background: url('../images/gameBox/sportBG_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .live_1 .gameImg,
.mainArea .swiper-middle .live_1 .gameImg {
    background: url('../images/gameBox/liveImg_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .live_2 .gameImg,
.mainArea .swiper-middle .live_2 .gameImg {
    background: url('../images/gameBox/liveImg_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .slot_1 .gameImg,
.mainArea .swiper-middle .slot_1 .gameImg {
    background: url('../images/gameBox/slotImg_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .slot_2 .gameImg,
.mainArea .swiper-middle .slot_2 .gameImg {
    background: url('../images/gameBox/slotImg_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .board_1 .gameImg,
.mainArea .swiper-middle .board_1 .gameImg {
    background: url('../images/gameBox/boardImg_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .lottery_1 .gameImg,
.mainArea .swiper-middle .lottery_1 .gameImg {
    background: url('../images/gameBox/lotteryImg_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .fish_1 .gameImg,
.mainArea .swiper-middle .fish_1 .gameImg {
    background: url('../images/gameBox/fishImg_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .sport_1 .gameImg,
.mainArea .swiper-middle .sport_1 .gameImg {
    background: url('../images/gameBox/sportImg_1.png') no-repeat center;
    background-size: contain;
}

.download .bg_deco.img_1 {
    background: url('../images/download_bg_1.png') no-repeat center;
    background-size: contain;
}
.download .bg_deco.img_2 {
    background: url('../images/download_bg_2.png') no-repeat center;
    background-size: contain;
}
.download .bg_deco.img_3 {
    background: url('../images/download_img.png') no-repeat center;
    background-size: contain;
}
.download .left .qr {
    background: url('../images/qr.png') no-repeat center;
    background-size: contain;
}

.bet .bg_deco.img_1 {
    background: url('../images/bet_bg_1.png') no-repeat center;
    background-size: contain;
}
.bet .bg_deco.img_2 {
    background: url('../images/bet_bg_2.png') no-repeat center;
    background-size: contain;
}
.bet .bg_deco.img_3 {
    background: url('../images/bet_img.png') no-repeat center;
    background-size: contain;
}

.intro .title .bg_deco.img_1 {
    background: url('../images/intro_bg_1.png') no-repeat center;
    background-size: contain;
}
.intro .title .bg_deco.img_2 {
    background: url('../images/intro_bg_2.png') no-repeat center;
    background-size: contain;
}
.intro .introImg.img_1 {
    background: url('../images/intro_img_1.png') no-repeat center;
    background-size: contain;
}
.intro .introImg.img_2 {
    background: url('../images/intro_img_2.png') no-repeat center;
    background-size: contain;
}
.intro .introImg.img_3 {
    background: url('../images/intro_img_3.png') no-repeat center;
    background-size: contain;
}
.intro .introImg.img_4 {
    background: url('../images/intro_img_4.png') no-repeat center;
    background-size: contain;
}